body {
  background: #ffffff;
  display: flex;
}

.form-container {
  width: 1300px;
  background-color: rgb(182, 182, 182);
  margin: auto;
  padding: 10px;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

input {
  background: #ffffff;
}
input::placeholder {
  font-style: italic;
  font-size: 13px;
  color: rgb(150, 150, 150);
}

.input-toggle-btn {
  margin-left: 20px;
  font-style: italic;
}

/* .error {

  font-size: 16px;
  color: red;
  margin-left: 65px;
} */

h5 {
  font-size: 16px;
  color: red;
}

.locationerror {
  margin-left: 65px;
}

.durationerror {
  margin-left: 170px;
}

.checkinerror {
  margin-left: 170px;
}

.checkouterror {
  margin-left: 100px;
}

.mainsearchbutton {
  background: #38d0eb;
  height: 30px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  border-radius: 9px;
}

.customsearch {
  background-color: #38d0eb;
  align-items: center;
  width: 200px;
  height: 80px;
  font-size: 40px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
  align-items: center;
  margin-left: 42%;
  border-radius: 18px;
}

.search-tool {
  margin-left: 30px;
}

.footer {
  width: 1400px;
  height: 170px;
  text-align: center;
  color: #ffffff;
  background-color: rgb(27, 27, 27);
  margin: auto;
  margin-bottom: 50px;
  padding: 50px;
}

.socialmedia {
  display: flex;
  justify-content: right;
  align-items: right;
  padding: 10px;
  margin-right: 100px;
  margin-left: 940px;
}

.customheader {
  margin-left: 50px;
}

.input-spacing {
  margin-left: 20px;
}

.searchbtn {
}
