.navbar {
  display: flex;
  flex-direction: row;
  margin-left: 0px;
  margin-right: 60px;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
}
